* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding-top: 5px;
  font-size: 14px;
  list-style-type: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quick-links {
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-links {
  background-color: #999999;
  color: white;
}
.footer-links::after {
  content: "";
  display: table;
  clear: both;
}
.footer-copyright {
  background-color: #2e2e2e;
  text-align: center;
  height: 25px;
  padding: 5px;
  font-size: 12px;
  color: #b3b3b3;
}
.footer-copyright p {
  margin: 0;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
